@import "reset";
@import "typography";
@import "variables";

body {
  background: radial-gradient(
        circle at top right,
        $bg-secondary 0%,
        hsla(57, 91%, 91%, 0) 50%
      )
      no-repeat,
    radial-gradient(
        circle at bottom left,
        $bg-tertiary 0%,
        hsla(26, 28%, 65%, 0) 50%
      )
      no-repeat,
    $bg-primary;

  background-size: 50vw 50vw, max(50vw, 500px) max(50vw, 500px), cover;
  background-position: top right, bottom left, center;
}
