$bg-primary: hsla(19, 19%, 20%, 1);
$bg-secondary: hsla(57, 91%, 91%, 1);
$bg-tertiary: hsla(26, 28%, 65%, 1);

$font-color-primary: hsla(26, 28%, 65%, 1);
$font-color-secondary: hsla(0, 0%, 100%, 1);
$font-color-tertiary: hsla(22, 24%, 20%, 1);
