<div class="layout">
  <header class="layout__header">
    <a class="layout__logo" [routerLink]="['/', 'home']">
      <h1>TheCarpenter</h1>
    </a>
    <div class="layout__actions">
      <!-- tcp-language -->
      <p>🗺️</p>
      <!-- <tcp-button (onClick)="openContactDialog()"></tcp-button> -->
      <button>{{ "contact.button" | translate }}</button>
    </div>
  </header>

  <main class="layout__main">
    <tcp-menu></tcp-menu>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>

  <footer class="layout__footer">
    <h5>{{ "contact.name" | translate }}</h5>
    <h5>{{ "contact.email" | translate }}</h5>
    <h5>{{ "contact.phone" | translate }}</h5>
  </footer>
</div>
