@import "../styles/variables.scss";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    padding: 25px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-tertiary;
    width: 235px;
    padding: 5px 7px;
    border-radius: 65px;

    h1 {
      font-size: 32px;
    }

    @media (min-width: 768px) {
      width: 470px;
      padding: 10px 15px;
      border-radius: 65px;

      h1 {
        font-size: 65px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__main {
    flex: 1;
    display: flex;
    gap: 1rem;
  }

  &__content {
    height: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    border-top: 2px solid $bg-tertiary;
  }

  &__sidenav-container {
    flex: 1;
  }

  &__sidenav {
    &--mobile {
      width: fit-content;
      --mat-sidenav-container-background-color: hsla(19, 19%, 20%, 1);
    }
  }
}
